@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #171717;
    --btn-primary: #c73e90;
    --btn-primary-hover: #a23074;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}

/* Base styles */
body {
    background: var(--background);
    color: var(--foreground);
}

.btn-primary {
    @apply bg-[var(--btn-primary)] hover:bg-[var(--btn-primary-hover)] text-white transition-colors rounded-full;
}

.btn-inverted {
    @apply bg-white hover:bg-neutral-300 text-[#c73e90] rounded-full transition-colors;
}

.btn-secondary {
    @apply bg-[var(--btn-primary-hover)] hover:bg-[var(--btn-primary)] text-white transition-colors rounded-full;
}

/* Map styles */
.round-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

/* Map circle positioning */
.map-circle-left {
    left: 0;
    transform: translateX(-60%);
}

.map-circle-right {
    right: 0;
    transform: translateX(60%);
}

@media (max-width: 590px) {
    .round-container {
        display: none;
    }
}

/* Responsive styles - Order from smallest to largest breakpoint */
@media (max-width: 768px) {
    .round-container {
        width: 400px;
        height: 400px;
    }
}

@media (min-width: 1024px) {
    .round-container {
        width: 900px;
        height: 900px;
    }
}

@media (min-width: 1500px) {
    .round-container {
        width: 1500px;
        height: 1500px;
    }
}

@media screen and (max-width: 420px) {
    /* for screens smaller then 420px, set the font size smaller */
    h1 {
        font-size: 200%;
    }
    h2 {
        font-size: 80%;
    }
    .btn-primary {
        @apply text-sm py-1.5 px-3;
    }
}

@media screen and (max-width: 290px) {
    /* for screens smaller then 420px, set the font size smaller */
    h1 {
        font-size: 150%;
    }
    h2 {
        font-size: 60%;
    }
    .btn-primary {
        @apply text-xs py-1 px-2;
    }
}

/* Add this to the end of your file */

@keyframes float-up {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    80% {
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: translateY(-40px);
    }
}

.animate-float-up {
    animation: float-up 2s ease-out forwards;
}
